html, body {
    margin: 0px;
    height: 100%;
    padding: 0px;
}


body{
	height: 100%;
	width: 100%;
	background-color: #F0F0F0;
	font-family: Helvetica Neue;
	margin: 0;
	
}


#header ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

#header-elements li{
	float: left;
}


#header-elements a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#content{

}

#friends-list{

	width: 50%;
		background-color: #fff;

	
	margin-left: 25%;
	
	border-radius: 5px;
	margin-top: 50px;
	padding-bottom: 30px;

}

#friends-list h1{
	padding-top: 30px;
	text-align: center;

}

.friend{
	background-color: #F7F7F7;
	width: 50%;
	margin-left: 25%;
	margin-bottom: 20px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
}



.friend-name{
	margin: 10px 0px;
	font-size: 20px;
	font-weight: 500;
}

.friend-username{
	margin: 10px 0px;
	font-weight: 200;
}

.friend-description{
	margin: 10px 0px;
	font-weight: 200;
	font-style: italic;

}

.friend-options button{
	font-size: 15px;
	background-color:  #ED4337;
	border: none;
	color: white;
    /*padding: 15px 32px;
    margin: 0px 15%;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
	width: 30%;
	margin-left: 35%;
	border-radius: 5px;

}


